<div class="container">
  <h3>New List</h3>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn btn-outline-secondary' %>
  <% end %>
</div>
